<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.cs.banking.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_fullscreen"
            android:networkSecurityConfig="@xml/network_security_config"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true" />
    </application>

</manifest>